{
  "type": "service_account",
  "project_id": "replace-with-google-cloud-project-id",
  "private_key_id": "replace-with-private-key-id",
  "private_key": "-----BEGIN PRIVATE KEY-----\nreplace-with-private-key\n-----END PRIVATE KEY-----\n",
  "client_email": "replace-with-service-account@replace-with-project.iam.gserviceaccount.com",
  "client_id": "replace-with-client-id",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/replace-with-service-account%40replace-with-project.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}
